.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #f3f5f8;
  font-family: "Inter", sans-serif;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
